  body {
      padding-top: 56px;
    }

    @media (min-width: 992px) {
      body {
        padding-top: 56px;
      }
    }

    .bg-light-secondary {
      background-color: #f8f9fa;
    }
    
    .icon-box {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      background-color: rgba(13, 110, 253, 0.1);
    }

    .icon-box i {
      font-size: 1.25rem;
      color: #0d6efd;
    }
    
    .nav-link:hover {
      color: #0a58ca !important;
    }
    
    .navbar-nav .nav-item {
      margin-right: 1.25rem;
    }

    .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }

    .navbar-toggler {
      padding: 0.375rem 0.5rem;
      font-size: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.375rem;
    }

    .navbar-toggler:focus {
      box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
      border-color: rgba(13, 110, 253, 0.5);
    }

    .navbar-toggler-icon {
      width: 1.25rem;
      height: 1.25rem;
    }

    .navbar-brand {
      font-size: 1.5rem;
    }

    .navbar-brand i {
      margin-right: 0.5rem;
      color: #0d6efd;
    }

    .map-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; 
      height: 0;
      overflow: hidden;
    }

    .map-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }